<ion-app>
 	<ion-tabs main>
		<ion-tab-bar slot="bottom" [hidden]="hide_tabbar">
			<ion-tab-button >
				<ion-label>Home</ion-label>
			</ion-tab-button>
			<ion-tab-button>
				<ion-label>Country</ion-label>
			</ion-tab-button> 
			<ion-tab-button>
				<ion-label>Progress</ion-label>
			</ion-tab-button>
			<ion-tab-button>
				<ion-label>Exit APP</ion-label>
			</ion-tab-button>
		</ion-tab-bar>
	</ion-tabs>
</ion-app>
